body{
    font-family: "Montserrat-Regular";
}

.header{
    height: 137px;
    background: yellow;
    padding: 20px;
}

.slider{
    height: calc(100vh - 137px);
    background:orange;
}

.news{
    height: 580px;
    background: orchid;
    
}

.sugestions{
    height: 400px;
    background:red;
}

.pre-footer{
    height: 222px;
    background: royalblue;
}

.footer{
    height: 175px;
    background: sandybrown;
}

/*---------------menu-----------*/

/* lado esquerdo - linguas */

.languages{

    width: 20%;
    height: calc(100% - 10px);
    float:left;
    background: seagreen; 
    padding: 10px;
    font-size: 16pt;
}

.header-menu{
    width: 60%;
    height: calc(100% - 10px);
    float: left;
    background: lightsteelblue;
    padding: 10px;
}

.items{
    width: 20%;
    height: calc(100% - 10px);
    float: right;
    background:maroon;
}

/* -------------logotipo + menu---------------*/

.logo{
    text-align: center;
    width: 100%;
    height: 50%;
    background: chocolate;
}

menu{
    height: 50%;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    float: left;
    font-family: 'Montserrat-SemiBold';
    font-size: 16pt;
    text-align: center;
}



.box {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
height: 40px;
}

.box:first-child > span { margin-right: auto; }

.box > span {margin:0  auto; }

.box:last-child  > span { margin-left: auto;  }


/*------------------------------*/

@media screen and (max-width:500px) {
    .header{
        height: 90px;
        padding: 10px;
    }

    .slider{
        height: 450px;
    }

    .news{
        height: 365px;
    }

    .sugestions{
        height: 415px;
    }

    .pre-footer{
        height: 222px;
    }

    .footer{
        height: 235px;;
    }
    
    

}