body{
    font-family: "Montserrat-Regular";
    font-size: 14px;
}

.header{
    height: 120px;
    background: yellow;
    padding: 20px 40px;
}


/*---------------menu-----------*/

/*---------------logo-----------*/

.logo{
    background: purple !important;
}

/*---------------menu-principal-----------*/

.menu-mega-principal{
    float: right;
    text-align: center;
}

.menu-mega-principal nav div ul>li{
    margin: 0 15px;
    width: calc(15.2% - 30px);
    background: red;
} 

.menu-extra{
    width:20% !important;
}
.menu-extra .idioma{
    width:50% !important;
}

.menu-extra li{
    padding: 0;
margin: 0 !important;
width: 25% !important;
float: left;
background: green !important;
}

.menu-mega-principal .navbar{
   padding: 20px 0 0 0;
   display: unset;
   
}

.menu-mega-principal .navbar .navbar-nav{
   width: 100%;
   background: yellow;

}


/* fixar tamanho de letra para ecras maiores e mais pequenos 
fixar tamanho a partir de 1200*/


/*-----------Media Queries--------------*/

